@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




@media screen and (max-width: 767.98px) { 
    .banner-event{
        height: 90vh;
        background-image: url('../img/event1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .deskripsi{
        z-index: 2;
        border-radius: 5%;
        height: 90vh;
        width: 100%;
    }

    .jumbotron {
        background: rgba(0,0,0,0.5);
    }

    .btn-buy{
        width: 100%;
        background-color: #D4AF37;
        color: #ffffff;
    }

} 

@media (min-width: 768px) and (max-width: 991.98px) {
    .banner-event{
        position: relative;
        height: 50vh;
        background-image: url('../img/event1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .deskripsi{
        z-index: 2;
        border-radius: 5%;
        height: 50vh;
        width: 100%;
    }

    .jumbotron {
        background: rgba(0,0,0,0.5);
        width: 50%;
    }

    .btn-buy{
        width: 50%;
        background-color: #D4AF37;
        color: #ffffff;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-event{
        position: relative;
        height: 80vh;
        background-image: url('../img/event1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .deskripsi{
        z-index: 2;
        border-radius: 5%;
        height: 80vh;
        width: 100%;
    }

    .jumbotron {
        background: rgba(0,0,0,0.5);
        width: 50%;
    }

    .btn-buy{
        width: 50%;
        background-color: #D4AF37;
        color: #ffffff;
    }
}

@media screen and (min-width: 1200px) {
    .banner-event{
        position: relative;
        height: 50vh;
        background-image: url('../img/event1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .deskripsi{
        z-index: 2;
        border-radius: 5%;
        height: 50vh;
        width: 100%;
    }

    .jumbotron {
        background: rgba(0,0,0,0.5);
        width: 50%;
    }

    .btn-buy{
        width: 50%;
        background-color: #D4AF37;
        color: #ffffff;
    }
}







.nama-event{
    color: #D4AF37;
    font-weight: 700;
}
.tanggal{
    color: #ffffff;
    font-weight: 700;
}



.modal-content {
    background-color: #38435F;
    border: none;
    color: white;
    font-size: 14px;
}


.modal-header{
    border-bottom: 1px solid #D4AF37;
}
.modal-title .h3{
    font-weight: bold;
    color: #D4AF37;
}

.title-event{
    color: #38435F;
    text-decoration: underline;
}

input#voucher {
    visibility: hidden;
}

.btn-circle {
    width: 50px;
    height: 50px;
    background-color: #D4AF37;
}

.tanggal-event{
    color: black;
}

.header-carousel .owl-carousel .item{
    width: 100%;
    height:60px;
}

.item{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.item a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.border-carousel-item{
    border-bottom: 1px solid black;
}

.border-carousel-item.active{
    border-bottom: 1px solid red;
}

.date-session{
    width: 40%;
    font-size: small;
}

.title-session{
    width: 60%;
    font-size: small;
}
